@charset "UTF-8";
/* Valeta Wensloffs's CSS Document. 
NOTE: You can replace my name with your name - this part up here is a CSS comment and is not telling the web browser to change the appearance of your html page(s). You could also put other things here, like the colors you picked for a quick reference. I like to do that so I can easily copy and paste the hex numbers when I need them. For Example:
Dark Red: #862e19
Cyan: #45b5dd
Light Gray: #cccccc
Dark Gray: #666666
White: #ffffff
*/



/* the html element below is the "background" of your page */
html {background-color: 

#E39ABA;
	background-image:url("unnamed1.jpg");
}

body {
	width:787px;
	margin: 1.5em auto; /* this + a defined width, centers the body content */
	border-color: #BDBDBD;
	border-style: solid;
	border-width: 10px;
	padding: 50px;
	background-color: #E7CECE;
	background-image: url("23211107.jpeg");
	
}
h {
	text-align: center;
	color: #5D0767;
}
h1 {
	text- font-size:20px ;
	text-align:left;
	color:#5D0767;
}

h2 {
	padding: 0
	px;
	color:#5D0767;
	
}

h3 {
	color: #C93336;
}

/* IMPORTANT: this will put a border around ALL images - so the banner AND the image of you. You may want to remove the border or change it! */
img {
	border-color: #BDBDBD;
	border-style: solid;
	border-width: 5px;
	
}


/* The code below here alters your links */
a {
  font-weight: bold;
	text-decoration-line: none;
	color: 	#3B0F6B;
}

a:hover {
	text-decoration: none;
	color:#9A2123 ;
		
}

#nav {
	background-color: #E14C8E;
	list-style-type: none;
	text-align: center;
	padding: 6px; 
	border-color:#CA9ADE;
	border-width:4.5px;
	border-style:inset;
}

#nav li {
  display: inline;
}

#nav a {
	color: #FFF;
	padding-right: 14px;
	padding-left: 0px;
	border-left-width: 0px;
	border-left-style: solid;
	border-left-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;


}


#nav a:hover {
	text-decoration: none;
	color:#100F0E;
}

ul#nav {
	margin: 0px; margin-top: 10px;
}


.imagespin:hover {
	-webkit-transform: rotate(32deg);
	transform: rotate(32deg);
}


#image {
	padding: 10px;
	margin-top: 20px;
		
	
}

p {
	margin-bottom: 10px;
}

#footer {
	display: block;
	background-color:#F27DBB;
	padding-top: 15px;
	padding-right: 0px;
	padding-left: 15px;
	padding-bottom: 4px;
	font-size:14px;
	color: #FFFFFF;
	font-weight:450;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

#footer p {
	margin-top: -5px;
}

#footer a {
	color:#151415;
}

#footer a:hover{
	color: aqua;
}

#footer img {
	border:none;
	padding-right: 15px;
	padding-top:3px;
	-webkit-border-radius: 30px;
	

	-moz-border-radius: 20px;
	border-radius: 20px;
}

.w3c {
	float: right;
}

#special{
	margin-top: 30px;
   }

.special{
	box-shadow: 10px 15px 5px #403C3C;
	
}

.banner{
	height:auto;
	padding:6px;
	align-items: center;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}






.con{
    width: 80%;
    margin: auto;
    position: relative;
    transition: all 0.3s;
}
.con>img{
    width: 100%;
    display: block;
}
.mark{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    height: 0%;
    width: 0%;
    background: rgba(0,0,0,0.5);
    display: grid;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 6vw;
    font-family: 'Indie Flower', cursive;;
    transition: all 0.6s;
    overflow: hidden;
    cursor: pointer;
}


